### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [136]:
# возьмем датасет ml-latest-small
data = pd.read_csv('ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [137]:
# отфильтруем датасет по оценке 5 и посчитаем кол-во пятерок для фильмов
data1 = data[data.rating == 5]
data_quantity = data1['movieId'].value_counts()
data_quantity.head(1)

318    153
Name: movieId, dtype: int64

In [138]:
# импортируем файл с названиями фильмов
movie_names = pd.read_csv('movies.csv')
movie_names.head(3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [139]:
# найдем строку с названием фильма по его id
movie_names[movie_names['movieId']==318]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [82]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [112]:
# найдем названия нужных стран
power[ (power['country'].str.contains('lat', case=False) ) | (power['country'].str.contains('lit', case=False) ) | (power['country'].str.contains('est', case=False) ) ]['country'].unique()

array(['Lithuania', 'Latvia', 'Estonia', 'State of Palestine',
       'Timor-Leste'], dtype=object)

In [114]:
# применим все условия фильтрации
power_baltic = power[ ( (power['country']=='Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia') ) & ( (power['category']==4) | (power['category']==12) | (power['category']==21) ) & ( (power['year'] >= 2005) & (power['year'] <= 2010) ) & (power['quantity'] > 0)]

In [115]:
# найдем суммарное потребление по столбцу quantity из отфильрованной таблицы
power_baltic = filtered4['quantity'].sum()
power_baltic

240580.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [128]:
stavka = pd.read_html('https://www.banki.ru/products/currency/cash/usd/moskva')[2]
stavka

                 0            1
0  Ставка в рублях      до 6,9%
1             Срок  от 367 дней

In [129]:
type(stavka)

pandas.core.frame.DataFrame